@charset "utf-8";
/*      브라우저 리셋      */
*{
    margin: 0px;
    padding: 0px;
    list-style:none;
    text-decoration: none;
}
body{
    
    background-color: rgb(68, 38, 177);
}
table tr td{
    text-align: center;
}

/*      헤더 라인      */
.Title{
    min-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    height: 170px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    font-size: 50px;
    padding-top: 30px;
}

/*      메인 라인       */
#UI{
    display:grid; /* 메인 3분할 */
    grid-template-columns:250px 3fr 250px;
    background-color: rgb(68, 38, 177);

}


/*      메인 왼쪽 라인       */
#UI_first{
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 40px;
}
#UI_first a{
    color: black;
}
#UI_first a:hover{
    color: blue;
}


/*      메인 중앙 라인       */
#UI_middle{

    min-width: 400px;
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

/*      메인 오른쪽 라인       */
#UI_last{
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    
}
#UI_last tr{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}


#UI_last a{
    color: black;
}
#UI_last a:hover{
    color: blue;
}